<% include header-admin.html %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">test website article manager</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Createtime</th>
                <th>Updatetime</th>
                <th>Operation</th>
            </tr>
            </thead>
            <tbody>
            <% _data = JSON.parse(data); %>
            <% for( x in _data) { %>
            <tr>
                <th><%-_data[x].id%></th>
                <th><%-_data[x].title%></th>
                <th><%-_data[x].author%></th>
                <th><%-_data[x].createtime%></th>
                <th><%-_data[x].updatetime%></th>
                <th>
                    <button type="button" class="btn btn-primary" id = '<%-_data[x].id%>' onclick = 'onView_article(this);'>View</button>
                    <button type="button" class="btn btn-danger" id = '<%-_data[x].id%>' onclick = 'onDelete_article(this);'>Delete</button>
                </th>
            </tr>
            <% } %>
            <tr>
                <th><button type="button" class="btn btn-primary" onclick = 'toInsert_article();'>Insert</button></th>
            </tr>
            </tbody>
            <div id = "alertdiv"></div>
        </table>
    </div>
</div>
</div>
</body>