<% include header-admin.html %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">test website user manager</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Password</th>
                <th>lv</th>
                <th>operation</th>
            </tr>
            </thead>
            <tbody>
                <% _data = JSON.parse(data); %>
                <% for( x in _data) { %>
                    <tr>
                        <th><%-_data[x].id %></th>
                        <th><%-_data[x].username %></th>
                        <th><input type = 'password' name = 'password'  value = '<%-_data[x].password %>'></th>
                        <th><input name = 'lv' class="ipt-lv" value = '<%-_data[x].lv %>'></th>
                        <th class="ope">
                            <button type="button" class="btn btn-primary" uid='<%-_data[x].id %>' onclick = 'onUpdate_user(this);'>Update</button>
                            <button type="button" class="btn btn-danger" uid='<%-_data[x].id %>' onclick = 'onDelete_user(this);'>Delete</button>
                        </th>
                    </tr>
                <% } %>
                    <tr>
                        <th>New</th>
                        <th><input name = 'username' ></th>
                        <th><input type = 'password' name = 'password'></th>
                        <th><input name = 'lv' class="ipt-lv"></th>
                        <th class="ope">
                            <button type="button" class="btn btn-info" onclick = 'onInsert_user(this);'>Insert</button>
                        </th>
                    </tr>
            </tbody>
            <div id = "alertdiv"></div>
        </table>
    </div>
</div>
</div>
</body>
</html>