<% include header-admin.html %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Test website Admin system - Article manage</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>type</th>
                <th>Createtime</th>
                <th>Updatetime</th>
                <th>Operation</th>
            </tr>
            </thead>

            <tbody>
            <% _data = JSON.parse(data); %>
            <% for( x in _data) { %>
            <tr>
                <th><%-_data[x].id%></th>
                <th><button type="button" class="btn btn-link" aid = '<%-_data[x].id%>' onclick = 'onView_article(this);'><%-_data[x].title%></button></th>
                <th><%-_data[x].author%></th>
                <th><%-_data[x].atype%></th>
                <th><%-_data[x].createtime%></th>
                <th><%-_data[x].updatetime%></th>
                <th>

                    <% if(_data[x].top == 0){ %>
                    <button type="button" class="btn btn-success" aid = '<%-_data[x].id%>' onclick = 'onTop_article(this,1);'>Top</button>
                    <% }else{ %>
                    <button type="button" class="btn btn-danger" aid = '<%-_data[x].id%>' onclick = 'onTop_article(this,0);'>unTop</button>
                    <% } %>
                    <button type="button" class="btn btn-danger" aid = '<%-_data[x].id%>' onclick = 'onDelete_article(this);'>Delete</button>


                </th>
            </tr>
            <% } %>
            <tr>
                <th><button type="button" class="btn btn-primary" onclick = 'toInsert_article();'>Insert</button></th>
            </tr>
            </tbody>
            <div id = "alertdiv"></div>
        </table>
    </div>
</div>
</div>
</body>

</html>