<% include header-admin.html %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">test website article manager view</h1>
            <div id = "alertdiv"></div>
            <div class = "container-fluid table-stripe">
                <table class = "table table-striped">
                    <tbody >
                        <tr>
                            <th >Title</th>
                            <th><input name = 'title' ></th>
                        </tr>
                        <tr>
                            <th>Brief introduction : </th>
                            <th><textarea name = 'brief' class = 'textarea-full' > </textarea></th>
                        </tr>
                        <tr>
                            <th>Content : </th>
                            <th><textarea name = 'content' class = 'textarea-full' > </textarea></th>
                        </tr>
                        <tr>
                            <th>Class : </th>
                            <th>
                                <select>
                                    <%-data%>
                                    <% _data = JSON.parse(data)[0].value.split(); %>
                                    <%-_data%>
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>
                                <button type="button" class="btn btn-info" onclick = 'onInsert_article();'>Insert</button>
                            </th>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</body>

</html>