<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%-title %></title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link href="/css/public.css" rel="stylesheet">
    <script src="/js/admin.js"></script>
    <script src="/js/public.js"></script>
</head>
<body>
<% include nav.html %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                <li <% if(act2 == "a"){ %>  class = "active"  <%}%> ><a href="/admin">Home</a></li>
                <li <% if(act2 == "aai"){ %> class = "active" <%}%> ><a href="/admin_article_insert">ArticleInsert</a></li>
                <li <% if(act2 == "aa" || act2 == "aav"){%> class = "active" <%}%> ><a href="/admin_article?page=1">ArticleView</a></li>
                <li <% if(act2 == "au"){%> class = "active" <%}%> ><a href="/admin_user?page=1">UserControl</a></li>
            </ul>
        </div>
