<% include header-public.html %>

<div class="container">
    <h1 class = "page-header">Info Page</h1>
    <p>
        Welcome to the test website,which is created for the National Day holiday homework of furry.
    </p>
    <p>
        Furry has used the <strong>node + express + ejs + mysql</strong> for back end, and <strong>bootstrap</strong> for front end.
        (I have plan to learn ORM and Angular in the future.)
    </p>
    <p>
        Limited by furry's low web developing skills,this website is so simple and full of mistakes.
        Welcome everyone to write issue about it on gitlib.
    </p>
    <p>
        furry 2015.10.7
        in blueland
    </p>
</div><!-- /.container -->

</body>
</html>