<% include header-public.html %>
    <div class="container d-login">
        <div class="form-signin">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Login</h3>
                </div>
                <div class="panel-body">
                    Username:    <input type="text" name="username" request >
                    <br/>
                    Password:    <input type="password" name="password" request>
                    <button class="btn btn-default" onclick = "onLogin();" > Login </button>
                </div>
            </div>
            <div id = "alertdiv"></div>
        </div>
    </div><!-- /.container -->

</body>
</html>
